<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask CRUD Project</title>
  </head>
  <body>
    <nav id="navigationBar">
      <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/ABOUT">ABOUT</a></li>
      </ul>
    </nav>
    {% block content%}
    <div class="main">
      <form action="/login" method="POST">
        {{loginForm.hidden_tag()}}
        {{loginForm.emailID.label}}
        {{loginForm.emailID}}
        <br />
        <br />

        {{loginForm.password.label}}
        {{loginForm.password}}
        <br />
        <br />

        {{loginForm.login}}
      </form>

      <form action="/signup" method="POST">
        {{signUpButton.hidden_tag()}}
        {{signUpButton.signup}}
      </form>
    </div>
    {% endblock content%} {% with messages = get_flashed_messages() %} {% if
    messages %}
    <script>
      alert("{{ messages[0] }}");
    </script>
    {% endif %} {% endwith %}
  </body>
</html>
